/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Monterrat, sans-serif;
}

/* header */
.header {
  /*border: 1px solid green;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header a {
  /*border: 1px solid red;*/
  text-decoration: none;
  color: #111111;
  font-size: 2rem;
}

.menu-items {
  /*border: 1px solid;*/
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  /*border: 1px solid purple;*/
  font-size: 1rem;
  padding: 0.5em 1em;
  transition: background 0.3s ease-in-out;
}

.menu-items li a:hover {
  background-color: #ccc7d3; /* Good to show the padding region of the <a> */
}

/* sections */
.section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero section */
.hero-section {
  /* copy from https://www.heropatterns.com/ "Overlapping Circles" */
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}



































