/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Monterrat, sans-serif;
}

/* header */
.header {
  border: 1px solid green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header a {
  border: 1px solid red;
  text-decoration: none;
  color: #111111;
  font-size: 2rem;
}

.menu-items {
  border: 1px solid;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  border: 1px solid purple;
  font-size: 1rem;
  padding: 0.5em 1em;
}

